<style>
    #new-feed h2 {
        margin: 20px 0 30px;
        color: #202020;
        font-family: Lato,Arial,Helvetica,sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
</style>

<div id="new-feed">
    <h2>#COHORTED</h2>
    <div id="flockler-embed-17be0c97de90dbfd60f1135add4bcc15"></div>
    <script src="https://plugins.flockler.com/embed/1799f9b6a5a0aeb864e0fbd97c56a8b5/17be0c97de90dbfd60f1135add4bcc15" async></script>
</div>