 
      <div id="new-feed">       
        <div>{{ section.settings.insta_html}}</div>
       
        <script src="https://plugins.flockler.com/embed/1799f9b6a5a0aeb864e0fbd97c56a8b5/17be0c97de90dbfd60f1135add4bcc15" async></script>
    </div>

</style>
{% schema %}
  {
    "name": "Instagram Section", 
    "settings": [
	{
        "type": "html",
        "id": "insta_html",
        "label": "Instagram Html"
      }	

]
  }
{% endschema %}