<div class="rew_banner my-point-stats">
	<div class="container">
<div class="banner_inner">

  <div class="banner_inner_fixced">
	<div class="banner_login_box">
  <h3>My Account</h3>
  <div class="icon-text">
	  <span><img src="{{ 'coin-blac.svg' | asset_url }}"></span>
	  <h5>Welcome Back, Anthony!
		<p>You have 1350 points</p>
	  </h5>
	 
  </div>
  <div class="account-buttons">  <a class="secoundry-btn" href=""> <img src="{{ 'arro-svg.svg' | asset_url }}">BACK TO MY ORDERS </a>
	<a class="secondary-btn" href=""> <img src="{{ 'gift-icon.png' | asset_img_url: 'master' }}">REDEEM YOUR GIFTS </a></div>

	</div>
  </div>
	<div class="img-right">
		<h3>My Points Status</h3>

		<div class="customer-bg-color">
			<table>
			   <thead>
				  <tr>
					 <th class="date">Date</th>
					 <th class="type">TYPE</th>
					 <th class="action">ACTION</th>
					 <th class="points">POINTS</th>
					 <th class="status">STATUS</th>
				  </tr>
			   </thead>
			   <tbody>
				  <tr class="odd ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-pending">Pending</span></td>
				  </tr>
				  <tr class="even ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-pending">Pending</span></td>
				  </tr>
				  <tr class="odd ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
				  <tr class="even ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
				  <tr class="odd ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
				  <tr class="even ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
				  <tr class="odd ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
				  <tr class="even ">
					 <td><span class="td-date">10/4/2021</span></td>
					 <td><span class="activity">Activity</span></td>
					 <td><span class="td-action">Make a Purchase</span></td>
					 <td><span class="td-points">200</span></td>
					 <td><span class="status-approved">Approved</span></td>
				  </tr>
			   </tbody>
			</table>
			
		 </div>
	</div>
</div>
	</div>
  </div>
  <style>
	 
	  .account-buttons .secondary-btn {
    color: #fff;
}

	 a.secondary-btn {
    color: #fff;
}
	  .img-right h3 {
    font: normal normal normal 30px/32px Austin;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
    margin-bottom: 30px;
    text-align: left;
}
.img-right .customer-bg-color {
    background: #f1f1f1 0 0 no-repeat padding-box;
    border: 1px solid #F1F1F1;
	padding: 0;
}
.customer-bg-color table th {
    font-weight: 800;
    font-family: 'Poppins', sans-serif !important;
}
.customer-bg-color table th, .customer-bg-color table td {
    padding: 0 20px;
}
span.status-pending {
    background: #FEF2DB;
    color: #F1B17B;
    padding: 8px 10px;
}
span.status-approved {
    background: #EAFAF3;
    color: #5E9285;
    padding: 8px 10px;
}
.img-right .customer-bg-color table tr {
    border-bottom: none;
}
.img-right tr.odd {
    background: #fff;
}
	  .icon-text h5 p {
    font-size: 13px;
    line-height: normal;
}
	.banner_inner {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-gap: 70px;
  margin-bottom: 80px;
}
a.white img {
    width: 30px;
}
.rew_banner .container {
    padding: 0 80px;
}
.account-buttons img {
    width: 25px;
}
.banner_login_box {
  background: #FFF5EF 0% 0% no-repeat padding-box;
  height: max-content;
  padding: 40px 30px;
  text-align: left;
}
.banner_login_box h3 {
  font-size: 30px;
  line-height: 32px;
  font-family: 'Austin';
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  display: block;
  margin-bottom: 25px;
}
.icon-text {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 50px 1fr;
}
.page-title.new h5 {
  font-size: 15px;
  line-height: 24px;
  font-family: 'AVENIR LT STD 45 BOOK';
  color: #1A1A1A;
  margin-top: 0;
}
.icon-text span img {
    width: 25px;
}
.rew_banner {
    padding-top: 20px;
}
.icon-text span {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.img-right img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.icon-text h5 {
    margin-top: 0;
    font-family: 'Austin';
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}
.account-buttons a {
    height: 65px;
    border: 1px solid #000;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    line-height: 65px;
    font-family: 'Austin';
    font-size: 18px;
    margin-top: 15px;
    justify-content: center;
    color: #000;
    grid-gap: 10px;
}
.account-buttons .white {
    background: #fff;
    border-color: #fff;
}
.account-buttons .secoundry-btn img {
    width: 16px;
}
@media(max-width:991px){
  .rew_banner .container {
    padding: 0 40px;
}
}
@media(max-width:767px){
	.my-point-stats .img-right {
    overflow-x: scroll;
}
.rew_banner.my-point-stats {
    padding-top: 0;
}
.my-point-stats .banner_inner {
    grid-gap: 40px;
}
.my-point-stats .img-right .customer-bg-color {
    overflow-x: scroll;
}
.my-point-stats .img-right table {
    width: 900px;
}

  .rew_banner .container {
    padding: 0 20px !important;
}
img.show-desktop {
    display: none;
}
  .text-container-wrapper.full-width h2 {
    margin-bottom: 25px;
}
.rich-text .page-title.new {
    display: none;
}
.banner_login_box {
    background: #FFF5EF 0% 0% no-repeat padding-box;
    margin: 0 0px;
    height: max-content;
    padding: 10px 20px;
    text-align: left;
}
.banner_inner {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-gap: 20px;
    margin-bottom: 50px;
}
.banner_login_box h3 {
    font-size: 24px;
}
.icon-text h5 {
    margin-top: 0;
    font-size: 18px;
    line-height: 16px;
    align-items: center;
}
.account-buttons a {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.icon-text {
    margin-bottom: 20px;
}

}
</style>
  {% schema %}
  {
	"name": "Cohorted Rewards Points",
	"class": "Cohorted_rew_banner",
	"settings": [
	  {
		"type": "html",
		"id": "text",
		"label": "Text",
		"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	  }
	],
	"presets": [
	  {
		"name": "Cohorted Rewards Points",
		"category": "Banner"
	  }
	]
  }
  {% endschema %}