@font-face {
  font-family: 'Austin';
  src: local('Austin Roman'), local('Austin-Roman'),
      url('AustinCyr-Roman.woff2') format('woff2'),
      url('AustinCyr-Roman.woff') format('woff'),
      url('AustinCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std 45 Book';
  src: url('AvenirLTStd-Book.woff2') format('woff2'),
      url('AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body p{
  font-family: 'Avenir LT Std 45 Book' !important;

}
body {
  background: #fff!important;
  font-family: 'AVENIR LT STD 45 BOOK' !important;
}

.content-with-image-slider-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sort-by.hover ul li a {
  text-transform: uppercase;
  font-size: 12px !important;
  font-family: 'AVENIR LT STD 45 BOOK';
  letter-spacing: 1px;
}
.product-view .product-name h1 {
  font-family: 'Austin';
  color: #000;
}
.product-shop .price-box .regular-price .price {
  color: #000;
  font-size: 22px;
  line-height: 40px;
  font-family: 'AVENIR LT STD 45 BOOK';
}
span.sold-out {
  background: #fff;
  position: absolute;
  top: 10px;
  letter-spacing: 0;
  padding: 5px 10px;
  right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.h4.grid-view-item__title a {
  color: #000;
}
/* .content-with-image-slider-section .slick-arrow {
  line-height: 80px !important;
} */
.toolbar .sorter {
   display: flex;
  justify-content: flex-end;
}
.content-part {  
  width: 50%;
}
.sticky-wrapper.is-sticky .parent-dropdown .fa.fa-angle-down {
  color: #fff;
} 
.slider-info p{
  max-width: 640px;
}
.slider-info {
  padding-left: 100px;
}
.slider-part {
  width: 50%;
}
.content-with-image-slider-section-buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}
.slider-item-wrapper {
  margin-bottom: 0 !important;
}
.content-part {
  text-align: left;
}
ul.content-with-image-slider-section-buttons a {
  width: 280px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  padding: 0;
  font-size: 18px;
  letter-spacing: .9px;
  font-family: 'Austin';
}
.primary-btn {
  letter-spacing: .9px;
  color: #000;
  border: 1px solid #000;
  width: 280px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Austin';
  text-align: center;
}
.nav-container {
  background: #fff;
}
.primary-btn:hover {
  background: #000;
  color: #fff;
}
.secondary-btn {
  letter-spacing: .9px;
  border: 1px solid #000;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 70px;
  height: 70px;
  width: 280px;
  text-transform: uppercase;
  font-family: 'Austin';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.secondary-btn:hover {
  background: #fff;
  color: #000;
}
.content-part h2 {
  font-family: 'Austin';
  text-transform: capitalize;
      font-size: 100px;
    line-height: 110px;;
  letter-spacing: 0px;
  color:#000;
}
.content-part p {
  /*   font-family: Avenir LT Std; */
  font-size: 15px;
  margin: 30px 0 60px 0;
  line-height: 24px;
}
.logo-image-slider-section-with-background {
  background: #000;
}
.logo-image-slider-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 15px 0;
}
.logo-content-part {
  width: 15%;
}
.logo-slider-part {
  width: 85%;
}
.logo-content-part p {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.75px;
}
.buttons-section {
  display: flex;
  align-items: unset;
  justify-content: center;
  column-gap: 20px;
}
.text-with-button-section .buttons-section a {
  width: 320px;
}
.text-container p {
  font-family: Austin !important;
  font-style: italic;
  font-size: 65px;
  line-height: 70px;
  letter-spacing: 0;
  color: #000;
}
.text-container {
  max-width: 1566px;
  margin: 0 auto 60px auto;
}
.text-with-button-section {
  margin: 150px 0 130px 0;
}
.collection-list-ul {
  display: flex;
  flex-wrap: wrap;
}
.collection-list-ul .description-before {
  margin: 50px 0;
}

.text-container-wrapper {
    width: 50%;
    text-align: left;
    padding-right: 50px;
}
.collection-list-li {
  width: 25%;
}
.collection-list-li a:hover::before {
  opacity: .35;
}
.collection-list-li a span {
  position: absolute;
  color: #fff;
  width: 90%;
  bottom: 10px;
  left: 0;
  border-top: 1px solid #ffff;
  z-index: 99;
  padding-top: 10px;
  margin: 0 auto;
  right: 0;
  text-align: left;
  font-family: Austin;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.collection-list-li a::before {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.23;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
}
.text-container-wrapper h2 {
    font-family: 'Austin';
    text-transform: capitalize;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 0;
    color: #000;
}
.description-before span:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 65px;
  top: 8px;
  background: #000;
}
.description-before {
  position: relative;
  display: flex;
}
.description-before span {
  margin-right: 80px;
}
.collection-list-li a {
  position: relative;
  display: block;
}
body #top-search {
    float: right;
    margin: 14px 0 15px 10px;
}
.top-header {
    display: none;
}
.top-header.top-header-new .fa.fa-angle-down {
  color: #000 !important;
}
.is-sticky .top-header.top-header-new .fa.fa-angle-down {
  color: #fff !important;
}
.top-header-new  .header-links {
  padding-right: 20px;
}
#top-search form input {
  color: #000;
  font-size: 19px;
  margin-top: 0!important;
  outline: 0 none!important;
  padding: 5px 80px 5px 50px;
  line-height: 70px;
  background-color: #fff!important;
  border-bottom: 1px solid #dcdcdc;
}
#top-search form {
  padding: 0 0;
}
.sticky-wrapper #top-search-trigger i.fa.fa-times {
  color: #000!important;
}
.top-header-new {
  display: flex !important;
  position: unset;
  justify-content: flex-end;
}
.sticky-wrapper .level-top a {
    color: #000 !important;
}
.sticky-wrapper .cart-contents i {
    color: #000;
}
.sticky-wrapper #top-search-trigger i {
    color: #000 !important;
}


.sticky-wrapper.is-sticky
 .cart-contents i {
    color: #fff;
}
.sticky-wrapper.is-sticky
 #top-search-trigger i {
    color: #fff !important;
}

#header-section {
    padding: 0px 0 0px 0 !important;
}
.is-sticky .help a {
  color: #fff;
}
.is-sticky p.bag {
  color: #fff;
}
body .is-sticky .cart-contents span {
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}
.is-sticky .top-header-new p.label {
  color: #fff!important;
}
.nova-header .row {
    display: flex;
    align-items: center;
}
#novaworks-nav a {
  font-size: 12px!important;
  color: #000!important;
  font-family: 'Avenir LT Std 45 Book';
}
form.variants.clearfix .add-to-cart button.button {
  font-size: 18px;
  font-family: Austin;
  padding: 0 40px;
}
#cboxClose, .fancybox-close {
  bottom: unset;
  right: 0;
  top: 0;
}
.owl-theme .owl-controls .owl-page span {
  background: #000000;
}
.nav-container {
    border-bottom: 1px solid #DCDCDC;
}
.is-sticky .nav-container {
  border-bottom: 1px solid transparent;
}
div#undefined-sticky-wrapper {
  height: auto !important;
}
.sticky-wrapper.is-sticky .novaworks-navigation #novaworks-nav>li.level0>a>span {
    font-size: 12px;
    color: #ffff;
}
/* slider css */
.content-with-image-slider-section .slick-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
}
.logo-image-slider-section .slick-slide img {
    width: 110px;
    object-fit: contain;
    margin: 0 auto;
    height: 40px;
}
.slick-track .logo-slider-item:nth-child(4) img {
    width: 136px;
    object-fit: unset;
    height: 26px;
    position: relative;
    top: 8px;
}
/* collection grid */

.collection-list-li img {
  height: 409px;
  object-fit: cover;
  width: 100%;
}
.collection-list-li:hover img {
  transform: scale(1);
}
.collection-list-li a {
  overflow: hidden;
}
.collection-list-li img {
  transition: transform .5s ease;
  overflow: hidden;
}
.collection-list-li {
    width: 25%;
    padding: 10px;
}
.collection-list-section {
    background: #E4E4E466;
    padding: 70px 0;
}
.section-column-gallery {
    margin: 100px 0;
}
.gallery-content .row {
  width: 100%;
}
/* gallery */
.section-column-gallery .text-container-wrapper {
    width: 100%;
  padding:50px 60px;
}
.image-box{
  height: 100%;
}
.gallery-content{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.image-box img {
    width: 100%;
}
img.image_box_1 {
    height: 100%;
    object-fit: cover;
}
img.image_box_2, img.image_box_3 {
    height: 344.75px;
    object-fit: cover;
}
.section-column-gallery > .row{
  display:flex;
}
.secondary-button {
    padding-left: 80px;
    margin-top: 19px;
}
/* feature collection */
.feature-collection-main .text-container-wrapper h2 {
    font-size: 60px;
}
.text-container-wrapper p {
  font-size: 15px;
  color: #464646;
 
}
.section-column-gallery .text-container-wrapper p{
  max-width: 600px;
}
.section-column-gallery .description-before {
  margin: 40px 0;
}
.feature-collection-main .text-container-wrapper {
    margin: 0 auto 40px auto;
    text-align: center;
    width: 60%;
    padding: 0;
}
.product-image img {
    width: 100%;
}
.feature-collection-main {
  background: #E4E4E44D;
  padding: 30px 0;
}
.h4.grid-view-item__title {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
  font-size: 20px;
  font-family: 'Austin';
  margin-bottom: 0;
  text-align: left;
} 
.feature-collection-main .review-wrap {
    padding: 0 10px;
}
.feature-collection-main .slick-prev:before {
  content: "PREV"!important;
  font-size: 12px;
  font-family: Austin;
  color: #000;
  opacity: 1;
  line-height: inherit;
}
.feature-collection-main .slick-next:before {
    content: "NEXT" !important;
    font-size: 12px;
      font-family: 'Austin';
      color: #000;
      opacity: 1;
      line-height: inherit;
}
.feature-collection-main .slick-prev {
    left: -25px;
    line-height: 60px !important;

}
.feature-collection-main .slick-next {
    right: -10px;
    line-height: 60px !important;

}
.feature-collection-main .spr-icon.spr-icon-star-empty {
    opacity: 1;
}
.feature-collection .feature-item:first-child {
    margin-left: 0;
}
.feature-collection .feature-item {
    margin-left: 20px;
}
/* scrolling text section */
.text-box h3.subtitle {
    text-align: left;
    font: italic normal normal 70px/70px 'Austin';
    letter-spacing: 0;
    color: #000;
    display: flex;
    align-items: center;
    grid-gap: 20px;
      justify-content: center;
      text-transform: capitalize;
}
span.line {
    display: flex;
    height: 1px;
    width: 70px;
    background: #000;
    align-items: center;
}
/* .section-text {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
} */
/* 
} */
/* feature product page */
.text-box {
  float: left;
  margin: 0 20px;
}
.feature-image img {
  width: 100%;
}
.product-info a.secondary-btn.white {
  width: 340px;
}
.product-info {
  padding: 80px 80px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.product-info h2 {
  text-align: left;
  font: normal normal normal 50px/58px 'Austin';
  letter-spacing: 2.75px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
}
.product-info .review-wrap {
  margin: 13px 0;
}
.product-info .price-box {
  text-align: left;
  margin-bottom: 32px;
}
.product-discription {
  text-align: left;
}
.product-info .price-box span {
  color: #fff !important;
}

.product-info .save {
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  opacity: 1;
  margin: 20px 0 10px 0;
  font-size: 11px;
  line-height: 20px;
  font-family: 'Avenir LT Std 45 Book';
}
.product-info .more-info {
  color: #fff;
  text-align: left;
  padding: 12px 0;
}
.more-info a:hover {
  color: #fff;
} 
.product-info .text-left {
  margin-top: 20px;
}
 a.secondary-btn.white {
  background: #fff;
  color: #000;
  border: 1px solid transparent;
}
 a.secondary-btn.white:hover {
  background: #000;
  color: #fff;
  border: 1px solid #ffff;
}
.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-image {
  height: 100%;
}
.single_product .row {
  display: flex;
}
.more-info a {
  text-align: left;
  letter-spacing: .75px;
  color: #dcdcdc;
  opacity: 1;
  text-decoration: underline;
  line-height: 24px;
  font-size: 15px;
  font-family: 'AVENIR LT STD 45 BOOK';
}
.product-info .spr-icon.spr-icon-star-empty {
  opacity: 1;
  color: #FF9900 !important;
  font-size: 12px !important;
  margin-left: 4px;
}
span.color {
  color: #FFD7D3;
}
/* instafeed */
#new-feed h2 {
  text-align: center;
  font: normal normal normal 62px/100px 'Austin';
  letter-spacing: 2px;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
}
div#new-feed {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
div#shopify-section-footer-new {
  position: relative;
  z-index: 9;
}
div#shopify-section-instagram-section {
  background: #ffff;
  position: relative;
  z-index: 9;
}
#new-feed .insta-header {
  margin-bottom: 40px;
}
.insta-header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  text-align: left;
}
       
.flockler-grid-items {
  display: flex;
  grid-gap: 10px;
  margin-bottom: 10px;
}
/* footer */
.footer-top h2 {
  text-align: left;
  font-family: Austin;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
}
.insta-header small {
  letter-spacing: 0.75px;
  color: #DCDCDC;
  font-size: 15px !important;
}                                                                                         
#footer_d .footer {
    border-top: 1px solid #b6b6b654;
}
.footer-top h2 small {
  line-height: normal !important;
  text-align: left;
   font-size: 14px !important;
  letter-spacing: 0.75px;
  color: #DCDCDC;
  opacity: 1;
}
#footer_a .footer-top {
  padding-top: 30px;
  border-bottom: 1px solid #b6b6b654;
}
#footer_c h3 {
  font: normal normal normal 22px/34px 'Austin';
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
}
#footer_c .line-ft {
  display: none;
}
.input-box .button {
  position: absolute;
  top: 0;
  right: 0;
  background: 0 0!important;
  text-indent: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
input.email {
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  background: transparent;
  text-indent: 10px;
}
input.email::placeholder {
  color: #A7A7A7;
  font-size: 12px;
} 
.input-box {
  position: relative;
}
.input-box .button img {
  width: 21px;
}
#footer_c ul li a i {
  font-size: 26px;
}
.footer-copyright-left address {
  font-size: 14px !important;
  color: #DCDCDC;
  opacity: 1;
}
.paypal-logo img {
    filter: grayscale(100%);
}
ul.footer.icon li a {
  height: 26px;
  width: 26px;
  background: #fff;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
}
ul.footer.icon {
  margin-top: 20px;
}
ul.footer.icon li {
  padding: 0 3px !important;
}
ul.footer.icon li a i {
  color: #000;
  font-size: 16px !important;
  line-height: 26px !important;
}
.widget-text p {
    color: #DCDCDC;
    font-size: 14x;
      letter-spacing: 0.75px;
}
form.footer-form {
    margin-top: 20px;
    display: block;
    width: 100%;
}
#footer_c ul li a {
    font-size: 14px;
    letter-spacing: 0.75px;
    color: #DCDCDC;
    opacity: 1;
}
.review-images {
    background: #000;
    padding-bottom: 60px;
    text-align: left;
}
.review-images .container {
  display: flex;
  align-items: end;
  padding-right: 20px;
} 
.review-images .container img{
  
  margin-right: 20px;
}
#footer_c {
  padding: 0;
}
.top-header-new .links li {
    text-align: left;
}
.top-header-new p.label {
  color: #000 !important;
}
.sticky-wrapper .col-md-2.col-sm-2 {
  display: flex;
  justify-content: center;
}
.top-header-new #currency li {
  text-align: left;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
a.level-top:hover {
  color: #eed3c6!important;
}
#novaworks-nav li.level0 ul li a:hover span.title_group {
  color: #e5aea9 !important;
} 
p.help a {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  padding: 0 30px;
}
a.cart-contents {
  padding: 0 25px;
}
p.bag {
  font-size: 12px;
  color: #000;
  position: relative;
  top: 2px;
}
body .cart-contents span {
  font-size: 10px;
  height: 17px;
  line-height: 14px;
  right: 0;
  text-align: center;
  top: 14px;
  color: #000;
  width: 17px;
  background: 0 0!important;
  border: 1px solid #000;
  z-index: 999;
}
.more-info a {
  position: relative;
}
.more-info a:after {
  background-image: url(https://cdn.shopify.com/s/files/1/2635/3958/files/arrow-right_49313eb1-b17b-4ba2-9bdb-3f590ef7cd6b_30x.png?v=1637748503);
  height: 25px;
  width: 25px;
  background-size: contain;
  position: absolute;
  content: "";
  right: -40px;
  background-repeat: no-repeat;
  top: 1px;
}
.container {
  width: 100%;
  padding: 0 80px;
}
.nova-header .col-md-5 {
  padding: 0;
}
.container.nova-header {
  padding: 0 30px;
}
.cms-index .spr-badge-caption {
  display: none;
}
.collection-show-mob{
  display: none !important;
}
div#nova-mobile-menu svg {
  height: 25px;
  width: 25px;
}
#nova-mobile-menu svg.icon.icon-hamburger {
  fill: #000;
  width: 25px;
  height: 25px;
}

.is-sticky #nova-mobile-menu svg.icon.icon-hamburger{  fill: #fff;}
.show-mob {display:none;}

a.selected-currency {
  position: relative;
  left: -20px;
}
.pull-right.top-dropdown.currency .label {
  display: none;
}
.pull-right.top-dropdown.currency .parent.aux-currency a {
  color: #000;
  font-size: 12px;
  padding-right: 6px;
}
.is-sticky .pull-right.top-dropdown.currency .parent.aux-currency a {
  color: #fff;
}
.header-links p.label {
  font-size: 12px;
}
.top-header .currency i, .top-header .header-links i, .top-header .store_language i {
  color: #000;
}
.is-sticky .currency i, .is-sticky .header-links i, .is-sticky .store_language i {
  color: #fff;
}
.parent.aux-currency {
  text-align: center;
}
.pull-right.top-dropdown.currency .fa.fa-angle-down {
  text-align: center;
  left: 0;
}
.pull-right.top-dropdown.currency {
  margin-left: 0;
}
#novaworks-nav li.level0 {
  margin-top: 0;
}

h2.title_phn {
  display: none;
}

/* mega menu css */
li.level-top.parent-dropdown {
  position: static;
}

.sub-wrappers {
  position: absolute;
  left: 0;
  width: 100%;
  top: 77px;
  background: #fff;
  transition: .5s;
  overflow: hidden;
  padding: 50px;
  display: none;
}
li.level-top.parent-dropdown:hover .level0.sub-wrappers {
  display: block;
}
.nova-header .col-md-5.col-sm-5.col-xs-6 {
  position: static;
}
.nova-header .main-navigation {
  position: static;
}
#novaworks-nav .sub-wrappers .title_group {
  color: #000 !important;
}
.nova-header .header-topMenu {
  position: static;
}
.mega_menu_right {
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
  grid-gap: 10px;
}
.mega_menu_left {
  width: 500px;
}
.mega_menu_right a img {
  object-fit: cover;
  width: 274px;
  height: 313px;
}
.mega_menu_item {
  width: 274px;
}
.menu_grid .row {
  align-items: flex-start;
  overflow-x: unset !important;
}
.menu_grid #novaworks-nav li {
  float: unset;
  padding: 0;
  text-align: left;
}
.mainlink .level1.menugroups {
    float: unset !important;
}
.mega_menu_right_list {
  display: flex;
  grid-gap: 10px;
}

.mega_menu_item a div {
  font-size: 16px;
  font-family: Austin;
  margin: 15px 0;
  letter-spacing: 0.8px;
  line-height: 22px;
}
.mega_menu_left h3 {
  padding: 0 14px;
  font-family: 'Austin';
  font-size: 24px;
  line-height: 34px;
}
/* collection list page css */
.row.category-list .item {
  position: relative;
} 
.cms-collection .review-wrap span i {
  opacity: 1 !important;
  margin: 10px 2px;
  display: inline-block;
}   
.box-related .review-wrap span i {
  opacity: 1!important;
  margin: 10px 2px !important;
  color: #000 !important;
}    
.box-related .price-box p span {
  margin-bottom: 0;
  font: normal normal normal 21px/29px Austin !important;
  letter-spacing: 1.05px;
  color: #000 !important;
  margin-top: 15px;
}
.box-related .tab_title h2.title {
  font: normal normal normal 65px/65px Austin !important;
  color: #000;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}
.box-related .novaworks-quick-act {
  display: none;
}
.box-related .price-box span {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 0;
}  
body .box-related .price-box span {
  font: normal normal normal 21px/29px Austin!important;
  margin-top: 7px;
}       
.box-related .product-name a {
  font: normal normal normal 21px/29px Austin;
  letter-spacing: 1.05px;
}
.cms-collection .price-box {
  margin-top: 10px;
}
.toolbar {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar .sorter .direction {
display: none;
}
.sorter .sort-by {
  margin-right: 0;
}
.sorter .current {
  border-color: transparent !important;
}
.home span[itemprop="title"] {
  color: #A7A7A7 !important;
}
.breadcrumbs ul {
  font-size: 15px;
  line-height: 24px;
  font-family: 'AVENIR LT STD 45 BOOK';
  text-align: left;
}
.cms-collection .price-box .special-price .price {
  color: #000000;
  font: normal normal normal 21px/29px Austin;
  letter-spacing: 1.05px;
} 

/* collection page */
.cms-collection .col-main.col-sm-9.col-sm-push-3 {
  left: 0;
  width: 100%;
}
.cms-collection .sorter .view-mode {
  display: none;
}
.cms-collection .col-left.sidebar.col-sm-3.col-sm-pull-9 {
  display: none;
}
div#products-viewmode:before {
  display: none;
}
.cms-collection .category-products #products-viewmode {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}
.cms-collection .category-products #products-viewmode .col-lg-4 {
  width: 100%;
  clear: unset !important;
  padding:0;
}
body .quick-view a {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 0px 16px #00000029;
} 
.quick-view a i {
  width: 50px;
  line-height: 50px;
  color: #000;
}
body .detail-view a {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 0px 16px #00000029;
} 
.slider-items .owl-buttons div.owl-prev {
  left: 15px;
}
.slider-items .owl-buttons div.owl-next {
  right: 15px;
}
.owl-theme .owl-controls .owl-buttons div a {
  opacity: 1;
  width: 50px;
  border-radius: 50px;
  line-height: 50px;
}
.detail-view a i {
  width: 50px;
  line-height: 50px;
  color: #000;
}

/* end */

.cms-collection .price {
  color: #000000;
  font: normal normal normal 21px/29px Austin;
  letter-spacing: 1.05px;
} 
.ollecton_title h1 {
  margin: 0;
  font: normal normal normal 80px/110px Austin;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-transform: capitalize;
  border-bottom: 1px solid #DCDCDC;
  padding: 20px 20px;
}
.cms-collection .novaworks-quick-act{display: none;}
.row.category-list .item {
  position: relative;
  margin-bottom: 30px;
  display: block;
}
.collection-list-li a:hover img {
  transform: scale(1.2);
} 
.col-lg-4.col-md-4.col-sm-4.col-xs-6.item a {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

body .spr-icon {
  width: 1em;
  height: 1em;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-6.item a:hover img {
  transform: scale(1.1);
}
.row.category-list .image img {
  height: 470px;
  object-fit: cover;
  transition: transform .5s ease;
  width: 100%;
}
.collection-box {
  margin-top: 50px;
}
.row.category-list .image a::before {
  background: #000 0 0 no-repeat padding-box;
  opacity: .30;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  z-index: 999999;
}
.details {
  position: absolute;
  color: #fff;
  width: 90%;
  bottom: 10px;
  left: 0;
  border-top: 1px solid #ffff;
  z-index: 999999;
  padding-top: 10px;
  margin: 0 auto;
  right: 0;
  text-align: left;
  font-family: Austin;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.details h4 {
  font-family: Austin;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
h4.title:before {
  position: absolute;
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/2635/3958/files/arrow-right_49313eb1-b17b-4ba2-9bdb-3f590ef7cd6b_30x.png?v=1637748503);
  height: 20px;
  width: 24px;
  right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 5px;
}
ul#novaworks-nav li.level-top a.level-top {
  margin: 0 8px 0 8px !important;
  padding: 31px 0;
}
/* contact page */
#contact-us .insta-header {
  border-top: 1px solid #dddd;
  padding-top: 60px;
}

.page-title h1 {
  text-align: center;
  font: normal normal normal 80px/110px 'Austin';
  letter-spacing: 0px;
  color: #000;
  text-transform: capitalize;
}
.page-title {
  border-bottom: 1px solid #dcdcdc;
  padding: 50px 0;
}
.info-boxs{
  text-align: center;
}

.info-boxs h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 1.6px;
  font-family: 'Austin';
}
.info-boxs p {
  font-size: 15px;
  line-height: 24px;
  height: 100px;
  overflow: hidden;
}
.contact-content {
  padding: 50px 80px !important;
}
.info-boxs h3 {
  font-size: 24px;
  line-height: 32px;
}
.info-boxs p {
  height: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
}

.form-list li {
  width: 100%;
}
.input-box input, .input-box select {
  height: 50px;
  line-height: 37px;
  font-size: 12px;
  text-indent: 5px;
  color: #fff;
}
#contactForm .form-list li.wide .input-box textarea {
  font-size: 12px;
  text-indent: 10px;
}
.info-boxs a {
  font-size: 15px;
}
.info-boxs a {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1.2px;
  font-family: Austin;
  text-decoration: underline;
}
#contactForm ul.form-list {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}
.input-box input, .input-box select {
  height: 65px;
  line-height: 55px;
  text-indent: 5px;
  color: #000;
  font-size: 15px;
  font-family: 'AVENIR LT STD 45 BOOK';
  width: 100%;
  appearance: none;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
.select-inp:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url(https://cdn.shopify.com/s/files/1/2635/3958/files/down-arrow.png?v=1638259587);
  right: 15px;
  top: 20px;
  background-size: contain;
} 
#contactForm .buttons-set {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
select#customer-services option {
  background: #F1F1F1 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px;
}
.form-list li:last-child {
  grid-column: 1 / span 2;
}
#contactForm .form-list li.wide .input-box textarea {
  color: #A7A7A7;
}
#contactForm .form-list label {
  display: none;
}
.input-box input::placeholder {
  color: #A7A7A7;
  text-transform: uppercase;
}
.cms-page.contact .insta-header {
  border-top: 1px solid #ccc;
  padding-top: 60px;
}
#shopify-section-template--14208435028073__16383415596fe6c6bb .content-with-image-slider-section-buttons {
  column-gap: 0;
}
.slick-slide {
  outline: none;
}
.rich-content {
  padding: 0 25px;
}
.socail_title {
  font-size: 15px;
  line-height: 21px;
  font-family: 'Austin';
  color: #fff;
  margin-top: 25px;
  display: none;
}
.product-tabs-parent .site_heading {
  text-align: left;
}
div#shopify-section-template--14219375804521__1639141991c6e99c43 {
  margin-top: 0;
}
h2.site_heading {
  font: normal normal normal 80px/70px Austin;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 50px;
}
.sorter .sort-by .current span {
  color: #464646;
  font-family: 'AVENIR LT STD 45 BOOK';
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media(min-width:1500px){
  .activesticky {
    left: 80px !important;
}                     
  #shopify-section-template--14214856867945__1638853446a36bc1a2 .banner-content {
    bottom: unset;
    top: 2%;
}

  #novaworks-nav a {
    font-size: 15px!important;
}
p.help a {
  font-size: 15px;
}
.header-links p.label {
  font-size: 15px;
}
.pull-right.top-dropdown.currency .parent.aux-currency a {
  font-size: 15px;
}
p.bag {
  font-size: 15px;
}
/* .sticky-wrapper.is-sticky .novaworks-navigation #novaworks-nav>li.level0>a>span {
  font-size: 15px;
} */
body .cart-contents span {
  height: 15px;
  line-height: 14px;
  top: 15px;
}
.contact-content {
  padding: 0 300px;
}
.container.nova-header {
  padding: 0 100px;
}
.gallery-content {
  align-content: space-between;
}
img.image_box_2, img.image_box_3 {
  height: 100%;
}
.product-info {
  padding: 0 60px;
}
}
@media(max-width:1600px){

  .info-boxs h3 {
    font-size: 24px;
    line-height: 39px;
}
.info-boxs a {
  font-size: 19px;
}
.info-boxs p {
  height: 130px;
  padding: 0 40px;
}
}
@media (max-width:1399px) {
 
  .banner-content h3 {
    font: italic normal normal 27px/40px Austin !important;
}

.banner-content h2 {
  font: normal normal normal 65px/70px Austin !important;
}
.description-banner div {
  font-size: 13px;
  line-height: 20px; 
}
  .content-part h2 {
    font-size: 90px;
    line-height: 100px; 
}
.input-box input, .input-box select {
    height: 52px;
    line-height: 40px;
    font-size: 13px;
    appearance: none;
}
.input-box .button {
  height: 52px;
  line-height: 52px;
}
.slider-info p {
  max-width: 585px;
}
  .slider-info {
    max-width: 585px;
    padding-left: 40px;
}
.feature-collection-main .slick-next {
  right: -10px;
}
.collection-list-li img {
  height: 340px;
}
.container {
  padding: 0 40px;
}
ul.content-with-image-slider-section-buttons a {
  width: 260px;
  height: 65px;
  line-height: 65px;
  font-size: 17px;
}
img.image_box_2, img.image_box_3 {
  height: 100%;
  object-fit: cover;
}
.secondary-btn {
  width: 260px;
  height: 65px;
  line-height: 65px;
  font-size: 17px;
}
.primary-btn {
  width: 260px;
  height: 65px;
  line-height: 65px;
  font-size: 17px;
}
.klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1 {
} 
}

@media (max-width:1199px) {
  #shopify-section-template--14214856867945__1638853446a36bc1a2 .banner-content {
    max-width: 100% !important;
    top: 0 !important;
}
.logo-content-part p {
  margin-bottom: 15px;
}
.row.category-list .image img {
  height: 370px;
}
  body h2.heading {
    font: normal normal normal 70px/70px Austin;
    letter-spacing: 1px;
  }
  body h5.content {
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 24px;
    margin: 30px 0 30px 0;
  }
  .review_box {
    height: 100%;

}
  .content-part h2 {
    font-size: 75px;
    line-height: 90px;
}
.full-width .description-before {
  max-width: 100%;
}
ul.content-with-image-slider-section-buttons a {
  width: 210px;
  height: 65px;
  line-height: 65px;
  font-size: 14px;
}
.slider-info p {
  max-width: 400px;
}
.text-container-wrapper.full-width h2 {
  font-size: 45px;
}
.text-with-image .product-image-content {
  padding: 50px !important;
}
  #sidebar-nav-menu .collapsible-wrapper {
    font-family: 'Austin';
    font-size: 15px !important;
    line-height: 21px !important;
    letter-spacing: .75px !important;
    border-bottom: 1px solid #DCDCDC;
    padding: 15px 0 !important;
    text-transform: capitalize !important;
    color: #000 !important;
}
.contact-content {
  padding:  80px!important;
}
.close_btn svg {
  height: 14px !important;
  width: 14px !important;
}
.close_btn {
  text-align: right;
  padding-right: 20px;
}
  .text-box h3.subtitle {
    font: italic normal normal 60px/60px 'Austin';
}
#advent-page-design-one-2021 .rich-content h5 {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Avenir LT Std 45 Book';
  margin-bottom: 40px;
  text-transform: initial;
}
#shopify-section-template--14211130196073__1638522509f8d1321f .description-before.visibilty-hide {
  display: none; 
}
ul#sidebar-nav-menu {
  margin-top: 15px;
}
div#mobile-search form {
  padding-bottom: 5px;
}
div#nova-mobile-menu {
  text-align: left !important;
}
.col-md-5.col-sm-5.col-xs-5.no-relative #top-search {
  display: none;
}
.footer-copyright-left address {
  font-size: 12px!important;
  letter-spacing: .5px;
}
  body .slicknav_menu  span.slicknav_icon-bar {
    background-color: #000 !important;
}
.top-header-new .header {
  display: none;
}

body .sticky-wrapper.is-sticky .nav-container {
  position: fixed !important;
}
#header-container .is-sticky .slicknav_menu .slicknav_icon-bar {
  background-color: #fff !important;
}
.content-part h2 {
  font-size: 70px;
  line-height: 80px;
}
.text-container p {
  font-size: 55px;
  line-height: 60px;
}
.text-container-wrapper {
  width: 100%;
}
.collection-list-li {
  width: 33.33%;
  padding: 10px;
}
/* .content-with-image-slider-section .slick-slide img {
  height: 650px;
} */
.text-container-wrapper h2 {
  font-size: 80px;
  line-height: 90px;
}
.feature-collection-main .text-container-wrapper h2 {
  font-size: 60px;
}
.text-container-wrapper h2 {
  font-size: 80px;
  line-height: 90px;
}
.feature-collection-main .text-container-wrapper {
  width: 80%;
}
#footer_a .footer-top {
  padding-top: 10px;
  border-bottom: 1px solid transparent;
}
#footer_d .footer {
  border-top: 1px solid transparent;
}
.footer-top h2 {
  font: normal normal normal 45px/40px 'Austin';
}
.product-info a.secondary-btn.white {
  width: 310px;
}
}
@media (max-width:991px) {
  .logo-image-slider-section-with-background .slick-arrow {
    visibility: hidden;
}
.collection-show-mob .slick-list {
  padding: 0 20% 0 0!important;
}
.row.category-list .image img {
  height: 100%;
}
body .text-container-wrapper.full-width h2 {
  font-size: 46px;
  letter-spacing: 1px;
  line-height: 50px;
}
body .overlap_heading {
  left: 0;
}
.collection-list-li a span {
  font-size: 16px;
}
.section-column-gallery {
  margin: 0px 0 80px 0;
}
div#nova-mobile-menu {
  text-align: left;
}
.single_product .row {
  display: flex;
  flex-wrap: wrap;
}
.feature-image img {
  height: auto;
}
.product-info {
  padding: 80px 50px;
}
.image-box {
  height: auto;
}
.footer-top h2 {
  font: normal normal normal 31px/37px 'Austin';
}
.secondary-btn {
  width: 230px;
  font-size: 15px;
}
.product-info a.secondary-btn.white {
  width: 290px;
}
.show-mob {display:block;}
.hide-phone {display:none;}
.collection-show-mob {
  display: block !important;
  width: 100%;
}
.collection-show-mob .collection-list-li img {
  width: 100%;
  height: 100%;
}
.collection-show-inner {
  display: flex;
}
/* .collection-show-mob .collection-list-li {
  display: flex !important;
  width: 390px  !important;
} */
.collection-list-ul .hide-collection-mob {
  display: none;
}
.logo-content-part {
  width: 100%;
}
.content-part {
  width: 100%;
  margin-bottom: 50px;
}
.slider-part {
  width: 100%;
}
.logo-slider-part {
  width: 100%;
}
.logo-slider-part .slick-dotted.slick-slider {
    margin-bottom: 0;
    margin-top: 20px;
}
.text-container p {
  font-size: 38px;
  line-height: 45px;
}
.text-with-button-section {
  margin: 80px 0 100px 0;
}
.text-container-wrapper {
  width: 100%;
  padding-right: 0;
}
.content-part h2 {
  font-size: 70px;
  line-height: 70px;
}
.text-container-wrapper h2 {
  font-size: 70px;
  line-height: 70px;
}
.text-container-wrapper h2 {
  font-size: 70px;
  line-height: 70px;
}
.text-box h3.subtitle {
  font: italic normal normal 60px/60px 'Austin';
}
}

@media (max-width:767px) {
  .collection-show-mob .collection-list-li img {
    height: 375px;
}
  .collapsible .plus-right {
    width: 60px !important;
}

  #sidebar-nav-menu li:nth-child(2) ul {
    margin-top: 15px;
}
#sidebar-nav-menu li:nth-child(2) ul li a {
  padding: 7px 0 !important; 
}
ul.links.collapsible.account-links {
  margin: 10px 0 !important;
}
ul.links.collapsible.account-links li a {
  padding: 7px 0 !important;
}
.novaworks-mobile-navbar ul#sidebar-nav-menu a {
  font-size: 12px !important;
}
  .you-may-also .slick-next, .slick-prev {
    top: 40%;
}
.ollecton_title h1 {
  font: normal normal normal 32px/32px Austin;
}
  body .account-login h1 {
    font: normal normal normal 30px/40px Austin!important;
}
.breadcrumbs ul span {
  line-height: normal;
  font-size: 12px !important;
  text-align: left;
  margin-left: 0;
}
.toolbar {
  margin: 0 0 15px;
}
.content-with-image-slider-section .slick-slide img {
  height: 375px !important;
}
.content-with-image-slider-section .slick-next {
  right: 10px;
}
.content-with-image-slider-section .slick-prev {
    left: 10px;
}
  .resp-tabs-container .site_heading {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

  #shopify-section-template--14214856867945__1638853446a36bc1a2 .banner-content {
    top: 50%!important;
    transform: translateY(-50%) !important;
}
.logo-slider-item-wrapper .slick-arrow {
  display: none !important;
}
#shopify-section-template--14216801779817__16389655410a4e7ed5 .banner-content {
  padding: 30px 20px;
  position: relative;
}
#shopify-section-template--14216801779817__16389655410a4e7ed5 .banner-inner-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
#shopify-section-template--14216801779817__16389655410a4e7ed5 .app-links img {
  max-width: 110px;
}
.link-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.link-images img {
  max-width: 165px !important;
}
  .socail_title {
    display: block;
    letter-spacing: 1px;
}
.footer-copyright-left address {
  text-align: center;
  line-height: 17px;
}
#footer_d .footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
}
.footer-copyright-right.col-md-5.col-sm-5 {
  margin-bottom: 20px;
}
  .description-before span {
    margin-right: 70px;
}
#footer_c {
  margin-top: -3px;
}
.review_box {
  height: 100%;
}
.text-with-image .product-image-content {
  padding: 20px !important;
}
.section-column-gallery {
  margin: 0 0 50px 0;
}
.section-column-gallery .text-container-wrapper {
  padding: 50px 40px;
}
  .cart-contents {  
    margin-right: 0;
}
.review-images {
  padding-bottom: 40px;
  text-align: left;
  /* border-bottom: 1px solid #dddddd47; */
  padding-top: 20px;
}
#footer_d .footer {
  border-top: 1px solid #dddddd47 !important;
}
.review-images .container img {
  margin-right: 20px;
  width: 110px;
}
#contact-us .insta-header {
  border-top: none;
  padding-top: 0;
}
#contactForm ul.form-list {
  display: flex!important;
  flex-wrap: wrap;
  grid-gap: 15px !important;
  margin-top: 0 !important;
  padding: 0 15px;
}
.page-title h1 {
  font: normal normal normal 36px/36px 'Austin';
}
h2.title_phn {
  display: block;
}
h2.title_des {
  display: none;
}
#footer_a .footer-top {
  border-bottom: 1px solid #b6b6b654;
}
#footer_c h3 {
  margin-bottom: 20px;
  display: inline-block;
} 
.insta-header small {
  font-size: 15px!important;
  text-align: center;
  margin: 20px 20px;
  display: inline-block;
}
.secondary-btn {
  width: 260px;
  height: 65px;
  line-height: 65px;
  font-size: 16px;
}
.text-container p {
  font-size: 24px;
  line-height: 32px;
}
.text-with-button-section .buttons-section a.secondary-btn::after {
  content: "SUBSCRIBE NOW";
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.text-with-button-section .buttons-section a.secondary-btn {
  font-size: 0;
  position: relative;
}
.container.nova-header {
  height: auto !important;
  border: none;
}
.info-boxs h3 {
  font-size: 24px;
  line-height: 32px;
}
.info-boxs {
  text-align: left;
}
.contact-content {
  padding: 10px 20px !important;
}
.info-boxs p {
    height: 100%;
    margin-bottom: 20px;
    padding: 0;
}
.is-sticky .container.nova-header {
  background: #000;
}
.header-transparent #header-container, .header-transparent #header-container #header-section, .header-transparent .main-navigation .header-topMenu .header-topMenu-inner, .header-transparent .nav-container, .header-transparent .top-header {
  background-color: #fff!important;
}
body #logo img.retina {
  display: none !important;
} 
body #logo img.standard {
  display: flex !important;
}

body .is-sticky #logo img.retina {
  display: flex !important;
} 
body .is-sticky #logo img.standard {
  display: none !important;
}
body .cart-contents span {
  font-size: 9px;
  height: 24px;
  line-height: 21px;
  top: -10px;
  width: 24px;
}
.announcement p {
  font-size: 11px;
}
p.bag {
  visibility: hidden;
}
  /* #nova-mobile-menu svg.icon.icon-hamburger {
    fill: #fff;
} */
.buttons-section {
  display: grid !important;;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.content-part h2 br {
  display: none;
}
.text-with-button-section .buttons-section a {
  width: 100%;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
}
p.bag {
  color: #fff;
}
/* body .cart-contents span {
  color: #fff;
  border: 1px solid #fff;
} */
.announcement p { 
  font-size: 11px !important;
}
.content-part h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 40px;
}
.slider-info {  
  padding-left: 24px;
  padding-right: 24px;
}
ul.content-with-image-slider-section-buttons a {
  width: 182px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}
.content-part p {
  margin: 30px 0 40px 0;
}
/* .content-with-image-slider-section .slick-slide img {
  height: 375px;
}  */
.content-part {
  width: 100%;
  margin-bottom: 41px;
}
.slick-next, .slick-prev{
  width: 45px;
  height: 45px;
}
.logo-image-slider-section .slick-slide img {
  width: 90px;
}
.logo-content-part {
  margin-bottom: 8px;
}
.text-container {
  margin: 0 auto 40px auto;
}
.text-with-button-section {
  margin: 70px 0 30px 0;
}
.text-with-button-section .buttons-section a {
  width: 100%;
  font-size: 9px;
  height: 55px;
  line-height: 55px;
} 
.content-with-image-slider-section-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}
ul.content-with-image-slider-section-buttons a {
  width: 100%;
}
.logo-content-part p {
  color: #fff;
  font-size: 12px;
}
.text-container-wrapper h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.6px;
}
.collection-list-section {
  padding: 32px 0;
}
.collection-list-ul .description-before {
  margin: 20px 0;
}
.container {
  padding: 0 20px;
}
/* .collection-show-mob .collection-list-li {
  width: 380px!important;
} */
.collection-list-li a span {
  font-size: 14px;
}
.secondary-btn {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  width: 190px;
} 
img.image_box_1 {
  height: 375px;
}
.feature-collection-main .text-container-wrapper h2 {
  font-size: 32px;
  line-height: 44px;
}
.product-image {
  padding: 0 10px;
}
.feature-collection-main .slick-prev {
  left: -10px;
}
.feature-collection-main .slick-next {
  right: -15px;
}
.feature-collection .feature-item {
  margin-left: 0;
}
.text-box h3.subtitle {
  font-size: 32px;
  line-height: 44px;
}
.marquee {
  height: 120px;
  margin-bottom: 10px;
}
.product-info h2 {
  font-family: 'Austin';
  letter-spacing: 1.2px;
  line-height: 30px;
  font-size: 24px;
}
.product-info {
  padding: 50px 40px;
  background-image: none !important;
  background-color: #000000;
}
.product-info h2 {
  margin: 0;
}
#new-feed .insta-header {
  justify-content: center;
}
.product-discription {
  font-size: 12px;
}
.feature-collection-main .text-container-wrapper {
  width: 100%;
}

.marquee {
  height: 120px !important;
  margin-bottom: 10px !important;
}
.single_product .row .col-md-6:nth-child(1) {
  order: 2;
}
.insta-header {
  display: flex;
  flex-wrap: wrap;
}
.product-info a.secondary-btn.white {
  width: 100%;
}
#new-feed h2 {
  font: normal normal normal 32px/44px Austin;
  margin-bottom: 18px;
  width: 100%;
}
div#new-feed {
  margin-top: 30px;
}
#new-feed .insta-header {
  margin-bottom: 50px;
}
.flockler-grid-items {
  flex-wrap: wrap;
}
#flockler-embed-17be0c97de90dbfd60f1135add4bcc15 .flockler-grid-items[data-container-width=">=0"] .flockler-grid-item {
  width: calc(1 /1 * 100%) !important;
}
.flockler-grid-items {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
.insta-header {
  justify-content: center;
  text-align: center;
}
.footer-top h2 {
  font-family: Austin;
  padding: 0 30px;
  font-size: 32px;
  text-align: center;
  font-style: italic;
  margin-bottom: 8px;
}
#footer_d .paypal-logo {
  text-align: center;
}
}