#win-page-terms-my p {
    font-size: 15px;
    line-height: 24px;
}
#win-page-terms-my h3 {
    font-family: 'Austin';
}
#win-page-terms-my strong {
    font-weight: 700;
    font-family: 'Austin';
    letter-spacing: 1px;
}
/* refer to friend */
    .lion-referral-widget-main__heading {
    font: normal normal normal 42px/58px Austin;
    letter-spacing: 2.1px;
    margin-bottom: 20px;
}
#loyaltylion .lion-referral-widget-main__intro {
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #464646;
    line-height: 24px;
    max-width: 450px;
    font-family: 'AVENIR LT STD 45 BOOK';
}
#loyaltylion .lion-referral-widget-main__share-buttons>a {
    margin: 8px;
    background: #000 !important;
    border-radius: 100%;
}
#loyaltylion .lion-referral-widget-main__share-link-text {
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #464646;
    line-height: 24px;
    font-family: 'AVENIR LT STD 45 BOOK';
}
#loyaltylion .lion-referral-widget-main__share-link-url {
    padding: 10px 20px;
    border: 1px solid #707070;
    background: #fcfcfc;
    border-radius: 0;
    margin-right: 8px;
    color: #000;
    font-size: 15px;
    line-height: 24px;
}
#loyaltylion .lion-copy-to-clipboard-button {
    width: 50px;
    height: 47px;
    cursor: pointer;
    border-radius: 0;
    background: #000;
}#loyaltylion .lion-copy-to-clipboard-button:after {
    background-color: #fff;
}
#loyaltylion .lion-referral-widget-main__heading:after {
display:none;
}
#loyaltylion .lion-copy-to-clipboard-button:hover {
    background: #eed3c6;
}
.manage-subscription-page h3 {
    font-family: 'Austin';
    font-size: 30px;
    margin-top: 50px;
    text-transform: capitalize;
}
.manage-subscription-page p {
    margin-bottom: 20px;
}
#shopify-section-template--14213728829545__1638791834e33046a4  .product-image-content {
    padding: 50px 30px;
  }
  #shopify-section-template--14213728829545__1638791834e33046a4 .overlap_heading {
    transform: translateX(-36px);
  }
  #shopify-section-template--14214856867945__1638853446a36bc1a2 .banner-content h2 {
    text-transform: inherit;
}
#shopify-section-template--14214856867945__1638857029ea64b0c9 h2 {
    text-transform: inherit;
}
#shopify-section-template--14214856867945__1638857029ea64b0c9 .product-feature-image {
    position: relative;
}
#shopify-section-template--14214856867945__1638857029ea64b0c9 .product-feature-image img {
    height: 840px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.cult-slider .text-container-wrapper p {
    max-width: 70%;
    margin: 40px auto 0 auto;
}
#cohorted-corporate-gifting .home-content-container .container {
    padding: 0 0px;
}
@media(max-width:767px){
    .cult-slider .text-container-wrapper p {
        max-width: 100% !important;
    }
#loyaltylion .lion-referral-widget-main {
    padding: 0 20px;
}
.mobile_social_media_title {
    font-size: 12px;    
}
ul.mobile_social {
    margin-top: 10px;
}
.klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1 {
    margin-top: 20px;
}
.needsclick.kl-private-reset-css-Xuajs1 [component="[object Object]"] button {
    height: 35px;
    line-height: 45px!important;
    font-size: 20px !important;
}
#loyaltylion .lion-referral-widget-main__share-buttons>a {
    margin: 5px;
}
}
/* refer to friend end */

/* klavyo poup css */
.popup-inner h2 {
    font: normal normal normal 32px/40px Austin;
    margin-bottom: 25px;
	text-transform: capitalize;

}
input.needsclick.kl-private-reset-css-Xuajs1 {
    padding-bottom: 0px!important;
}
svg.go841953539 {
    border: 1px solid #666;
}
.ql-snow.ql-container.ql-disabled .ql-editor p span {
    margin-bottom: 20px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #A7A7A7 !important;
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    letter-spacing: .5px !important;
    text-transform: capitalize !important;
}
.ql-snow.ql-container.ql-disabled .ql-editor a{
color: #000 !important;
text-decoration: underline !important;
font-size: 12px !important;
line-height: 16px !important;
}
.ql-snow.ql-container.ql-disabled img {
    width: 20px !important;
    height: 20px !important;
    margin-bottom: 0 !important;
}
.needsclick.kl-private-reset-css-Xuajs1 [component="[object Object]"] button {
    font-family: Austin!important;
    height: 45px;
    line-height: 55px!important;
    margin-bottom: 0!important;
    width: 100%;
}
.needsclick.kl-private-reset-css-Xuajs1 [component="[object Object]"] {
    width: 100%;
}
svg.go841953539 rect {
    fill: #fff;
}
body .needsclick.kl-private-reset-css-Xuajs1 label {
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    letter-spacing: 1px !important;
}
body .needsclick.kl-private-reset-css-Xuajs1 input {
    border: 1px solid #A7A7A7 !important;
    height: 45px !important;
    font-size: 15px !important;
    line-height: 45px !important;
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    color: #000 !important;
    text-transform: initial; 
    text-indent: 6px;
    background: transparent !important;
}
.parmession-checkbox {
    display: flex;
    grid-gap: 50px;
    align-items: center;
    margin-top: 20px;
}
.full-half-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
}
.popup_open {
    display: flex!important;
    justify-content: center;
}
.popup-main {
    background: #00000080;
    height: auto;
    padding: 00px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 40px;
    height: 100%;
    align-items: center;
    display: flex;
    bottom: 40px;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(8) {
    order: 7;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(7) {
    order: 7;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(6) {
    order: 8;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(5) {
    order: 5;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(4) {
    order: 4;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(3) {
    order: 2;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(2) {
    order: 1;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(1) {
    order: 3;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(5) .needsclick.kl-private-reset-css-Xuajs1 {
    padding-bottom: 0px !important;
    margin-bottom: 3px;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid=form-row]:nth-child(5) {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.info-popoup img {
    width: 20px;
}
.info-popoup a {
    color: #000;
    text-decoration: underline;
}	
.submit input {
    width: 100%;
    background: #000;
    font: normal normal normal 21px/60px Austin;
    letter-spacing: 1.05px;
    color: #fff;
    margin-bottom: 20px;
}
.info-popoup {
    display: grid;
    grid-template-columns: 30px 1fr;
    text-align: left;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
    color: #A7A7A7;
}
.info-bottom p {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
    color: #A7A7A7;
}
.info-bottom a {
    color: #000;
    text-decoration: underline;
}
.popup-inner {
    max-width: 701px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    position: relative;
}
.close_icon {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}
.marketing-parmession .checkbox-button {
  cursor: pointer;
}
.input-half input, .input-full input {
    border: 1px solid #A7A7A7;
    height: 60px;
    font-size: 15px;
    line-height: 60px;
    font-family: 'AVENIR LT STD 45 BOOK';
    color: #000;
    text-transform: uppercase;
    text-indent: 6px;
}
.marketing-parmession {
    text-align: left;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid="form-row"]:nth-child(4) .ql-editor p:nth-child(1) span {
    font: normal normal normal 21px/29px Austin!important;
    letter-spacing: 1.05px!important;
    color: #000!important;
    margin-top: 20px!important;
    text-transform: uppercase!important;
}
.klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1 {
    max-height: 500px;
    overflow-y: scroll;
}   
.needsclick.kl-private-reset-css-Xuajs1 {
    padding-top: 0!important;
}
.needsclick.kl-private-reset-css-Xuajs1 [data-testid="form-row"]:nth-child(4) .ql-editor p:nth-child(2) span {
    font-size: 15px !important;
    margin-top: 10px !important;
    color: #000 !important;
    display: block !important;
}
.needsclick.kl-private-reset-css-Xuajs1 {
    padding-bottom: 5px !important;
}
.needsclick.kl-private-reset-css-Xuajs1 {
    padding-top: 0 !important;
}
.needsclick.kl-private-reset-css-Xuajs1 [role="group"] {
    display: grid !important;
    grid-gap: 10px !important;
    width: 100%;
    grid-template-columns: 100px 150px 1fr;
}
body .needsclick.kl-private-reset-css-Xuajs1 label {
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    letter-spacing: 1px !important;
}
label.needsclick.kl-private-reset-css-Xuajs1 .needsclick.kl-private-reset-css-Xuajs1 {
    padding-bottom: 0 !important;
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    font-size: 15px !important;
}

.input-half input::placeholder, .input-full input::placeholder {
    color: #A7A7A7;
}

/* custom scrollbar */
.klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1::-webkit-scrollbar {
    width: 20px;
  }
  
  .klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  .klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  @media(max-width:1199px){
    #shopify-section-template--14211130196073__1638522509f8d1321f .full-width .description-before {
        padding-left: 50px !important;
        }
        #shopify-section-template--14211130196073__1638522509f8d1321f .product-feature-image img {
            height: 100% !important;
            max-height: 820px;
        }
}
@media(max-width:991px){
    #sidebar-nav-menu .collapsible-wrapper {
        font-family: Austin;
        font-size: 12px!important;
        line-height: 16px!important;
        text-transform: uppercase !important;
    }
    
	.close_icon img {
    width: 15px;
}
	.popup-main {	
    padding: 10px;
}
.klaviyo-form-Tm9c7e.form-win-signup-nn.klaviyo-form.form-version-cid-1 {
    padding-bottom: 0px;
}
.popup-inner h2 {
    font: normal normal normal 22px/28px Austin;
    margin-bottom: 25px;
}
.popup-inner {
    padding: 25px 15px;
}

.needsclick.kl-private-reset-css-Xuajs1 [role=group] {
    grid-template-columns: 1fr !important;
}
.marketing-parmession h5 {
    font: normal normal normal 19px/27px Austin;
}
.full-half-input {
    grid-template-columns: 1fr !important;
}
.input-half input, .input-full input {
    height: 50px;
    font-size: 12px;
    line-height: 50px;
}
.parmession-checkbox {
    grid-gap: 0px;
    flex-wrap: wrap;
}
.parmession-checkbox .example {
    width: 100%;
}
.submit input {
    font: normal normal normal 16px/50px Austin;
}
}
/* end */



/* order page */
#shopify-section-template--14211130196073__1638524901f24602b4 .rich-content h5 {
    font-size: 15px;
    line-height: 24px;
    text-transform: initial;
}
.mega_menu_left ul li.level1.menugroups:last-child a span {
    font-size: 10px;
}
#shopify-section-template--14211130196073__1638522509f8d1321f .secondary-btn.white {
    display: none;
}
#shopify-section-template--14211130196073__1638522509f8d1321f .product-feature-image img {
    height: fit-content;
}
#cohorted-rewards .rich-content {
    padding: 0 0;
    max-width: 100%;
}
#cohorted-rewards .page-title {
    padding: 0px 0;
}
#cohorted-earn-points .rich-text-main {
    padding-top: 0;
}
#cohorted-earn-points .rich-content {
    padding: 0 0;
    max-width: 100%;
}
#cohorted-earn-points .page-title {
    padding: 0px 0;
}
#cohorted-rewards .rich-text-main {
    padding-top: 0;
}
.slider-items-products.box-collateral.box-related {
    display: none;
}
#chargify-accounts {
    display: none;
}
#customer_sidebar {
    box-shadow: none;
    padding: 0;
    background: 0 0;
    position: relative;
}
#customer_sidebar .sidebar-inner {
    padding: 30px;
    background: #fff5ef 0 0 no-repeat padding-box;
    position: fixed;
    left: 25px;
    width: 31%;
}
ul.pagination.clearfix li:first-child a {
    border: none !important;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin-right: 15px;
}
#customer_orders {
    padding-left: 60px !important;
}
#chargify-accounts h2 {
    font-family: Austin;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 30px !important;
}
.pagination {
    margin: 30px 0 0 0;
}
#chargify-accounts > table td, #chargify-accounts > table th {
    padding: 2px;
    text-align: left !important;
    vertical-align: middle;
    height: 60px;
    text-align: left;
}
 #chargify-accounts > table th {
    text-transform: uppercase;
}
#chargify-accounts {
    box-shadow: none;
}
ul.pagination.clearfix li:last-child a {
    border: none !important;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin-right: 15px;
}
#customer_sidebar .page-title h1 {
    font: normal normal normal 30px/32px Austin;
    letter-spacing: 0;
    color: #000000;
    text-transform: capitalize;
    text-align: left;
}
html {
    padding-bottom: 0 !important;
}
a#view_address {
    justify-content: flex-start !important;
}
p.buttons-phone {
    margin-bottom: 25px;
}
#customer_sidebar .page-title {
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 0;
}
#customer_sidebar h2 {
    margin-top: 0;
    font: normal normal normal 24px/50px Austin;
    text-transform: capitalize;
    display: flex;
    grid-gap: 15px;
    padding-bottom: 5px;
}
div#customer_sidebar p {
    font-size: 15px;
    line-height: 24px;
    display: inline-flex;
    color: #000;
}
#customer_sidebar .primary-btn {
    width: 100% !important;
}
.address.note img {
    height: 26px;
    width: 17px;
}
#customer_sidebar a:hover {
    background: unset !important;
    color: unset;
}
.row.account-page-styles {
    margin-top: 70px;
}
#customer_sidebar a {
    font: normal normal normal 18px/80px Austin;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
#customer_sidebar h2 span:nth-child(1) {
    background: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
}
.buttons-set-new a {
    padding: 0 !important;
    font-size: 15px !important;
    font-family: 'AVENIR LT STD 45 BOOK' !important;
    text-decoration: underline;
}
#customer_orders h2 {
    font: normal normal normal 30px/32px Austin;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.customer-bg-color {
    background: transparent;
    -moz-box-shadow: 6px 6px 10px 0 #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px 20px;
    min-height: 405px;
}
#customer_orders .text-center {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#customer_orders .text-center p {
    font-size: 15px;
    color: #000;
    margin-top: 30px;
}
.pagination>li>span.active {
    color: #ffffff;
    background: #000;
    text-align: center;
    border: 1px solid #000 !important;
}
#customer_orders {
    margin-bottom: 40px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    text-decoration: none;
    margin-left: -1px;
    border: 1px solid #A7A7A7 !important;
    float: left;
    line-height: 50px;
    color: #A7A7A7;
    padding: 0 20px;
    margin: 0 2px;
    background: transparent;
    width: 50px;
    opacity: 1;
    height: 50px;
}
span.total.money {
    background: #EAFAF3 0% 0% no-repeat padding-box;
    padding: 10px;
    letter-spacing: 0px;
    color: #5E9285;
    font-size: 15px;
    font-family: 'AVENIR LT STD 45 BOOK';
}
.customer-bg-color table th {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-family: 'Poppins', sans-serif !important;
}
.customer-bg-color table tr {
    height: 60px;
    border-bottom: 1px solid #cccccc59;
    line-height: 60px; 
}
.customer-bg-color {
    background: #F1F1F1 0% 0% no-repeat padding-box;
}
/* end */
ul#novaworks-nav li.level-top.active a.level-top>span {
    color: #dba68d;
}
body:not(.top-search-open) #cart, body:not(.top-search-open) .header-logo, body:not(.top-search-open) .main-navigation, body:not(.top-search-open) .slicknav_menu {
    transition: unset !important;
}
.mobile_social_media_title {
    font-family: 'Austin';
    font-size: 18px;
    letter-spacing: 1px;
}
.mobile_social_media {
    text-align: left;
    margin-top: 30px;
}
.collapsible .plus-right {
    width: 40px !important;
    height: 40px !important;
}
ul.mobile_social li {
    display: flex;
    width: 100%;
}
ul.mobile_social {
    display: flex;
    grid-gap: 21px;
    margin-top: 20px;
}
/* Daynamic produt section */
.text-container-wrapper.full-width {
width: 100%;
text-align: center;
padding-bottom: 80px;
}
.products-with-image {
padding: 90px 0;
}
.products-with-image .description-before {
justify-content: center;

}
a.product-btn {
font-size: 15px;
font-family: 'Austin';
background: #A7A7A7 0% 0% no-repeat padding-box;
display: inline-block;
line-height: 70px;
height: 70px;
color: #fff;
margin-top: 20px;
width: 100%;
}
ul.grid-point-listd {
display: flex;
flex-wrap: wrap;
padding: 0 50px;
}
ul.grid-point-listd li {
width: 50%;
padding: 0 10px;
}
.product-box-inner {
display: grid;
grid-template-columns: 1fr 1fr;
}
.text-container-wrapper.full-width h2 {
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 4px;
}
.full-width .description-before {
    text-align: center;
}
.description-before {
    margin-bottom: 40px !important;
    margin: 0 auto;
}
.shopify-challenge__container {
    margin-top: 40px;
}
/* ciunting slider css */
ul.custom_paging li.slick-active {
    display: flex;
    width: 90px;
    text-align: center;
    justify-content: space-between;
    margin: 20px auto;
}
ul.custom_paging li span {
    margin-top: 20px !important;
    font: normal normal normal 24px/29px Orelo SemiWide Medium;
    letter-spacing: 1.2px;
    color: #A7A7A7;
}
ul.custom_paging .active_slide {
    color: #000 !important;
}
.custom_paging li {
    display: none;
}
/* end */

/* product box css */
.product-info-new h2 {
    font: normal normal normal 24px/24px 'Austin';
    text-align: left;
}
.product-info-new .spr-icon.spr-icon-star-empty {
    opacity: 1;
}
.product-info-new .spr-badge-caption {
    display: none;
}
.products-with-image .review-wrap {
    margin-top: 30px;
}
.product-info-new .product-align-center {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    grid-gap: 0;
    margin-right: 10px;
}
.product-info-new .price-box span {
    font: normal normal normal 24px/34px 'Austin' !important;
}
.product-align-center .price-box {
    font-family: 'AVENIR LT STD 45 BOOK';
}
ul.grid-point-listd li {
    margin-bottom: 15px;
}
.visibilty-hide span {
    visibility: hidden;
}
.buy-now{display: none;}
.orderOne {
	order:1;
}
.orderTwo {
	order:2;
}
/* my accounts/ login */
.account-login h1 {
    font: normal normal normal 60px/80px Austin !important;
    color: #000 !important;
}
#login-form .registered-users .content h4 {
    top: -11px;
    font-family: 'Austin';
    font-size: 18px !important;
}
#login-form .new-users .content h4 {
    top: -11px; 
    font-family: 'Austin';
    font-size: 18px !important;
}
#login-form .new-users .buttons-set .create-account-button, #view_address {
    padding: 0 15px;
    width: auto;
    font-family: 'Austin';
    width: 260px;
    height: 65px;
    line-height: 65px;
    font-size: 17px;
}
button#send2 {
    padding: 0 15px;
    width: auto;
    font-family: 'Austin';
    width: 260px;
    height: 65px;
    line-height: 65px;
    font-size: 17px;
}

/* image with text section */
.img-with-txt .description-before {
    max-width: 100% !important;
    text-align: left;
}
.product-feature-image img {
    width: 100%;
}
.text-with-image .product-box-inner {
    align-items: center;
}
.text-with-image .product-image-content {
    padding: 50px 80px;
}
#black-edition-new .text-with-image .text-container-wrapper.full-width {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
}
#black-edition-new .text-with-image {
    margin-top: 70px;
}
.img-with-txt h2 {
    text-align: left !important;
}
.full-width .description-before {
    padding-left: 50px;
    margin-top: 30px;
}
#shopify-section-template--14213728829545__16387904240d1d1d7b .full-width .description-before {
    padding-left: 100px;
}
    #shopify-section-template--14213545427049__16387754498f083ad8 .description-before {
        padding-left: 80px;
    }
    #shopify-section-template--14213545427049__16387754498f083ad8 .description-before p {
        max-width: 70%;
    }
    #shopify-section-template--14213545427049__16387785522aececcd .full-width .description-before {
        padding-left: 77px;
    }
    #shopify-section-template--14213444403305__1638769902d5013264 .section-column-gallery .description-before {
        padding-left: 30px;
    }
    #shopify-section-template--14213444403305__1638769902d5013264 .secondary-button {
        padding-left: 110px;
    }
.img-with-txt {
	padding-right: 0;
}

.img-with-txt .secondary-button {
    padding-left: 0;
}
 .product-feature-image {
    height: 100%;
}
.product-feature-image img {
    /* width: 100%;*/
    height: 100%; 
    object-fit: cover;
}
div#shopify-section-template--14208435028073__16383556045ac15327 {
    background: transparent linear-gradient(0deg,#e4e4e42e 0,#ffffff00 100%) 0 0 no-repeat;
}
div#shopify-section-template--14208435028073__163835983050e55d57 {
    background: transparent linear-gradient(0deg, #E4E4E466 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
}
/* faq sections */
#faqs .rich-content h5 {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
    text-transform: inherit;
}
#faqs .page-title {
    padding: 0;
}
#faqs .rich-text-main {
    padding-top: 0;
}
h3.shopify_explorer_faq__separator {
    text-align: left;
    font: normal normal normal 80px/112px Austin;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 4px;
    padding: 70px 0 30px;
    margin: 0;
}
h3.shopify_explorer_faq__question {
    font: normal normal normal 24px/34px 'Austin';
    letter-spacing: 1.2px;
    text-align: left;
	margin: 0;
	text-transform: capitalize;
}
.shopify_explorer_faq__item {
    border-bottom: 1px solid #A7A7A7;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    cursor: pointer;
}
.shopify_explorer_faq__answer {
    display: none;
}
.activesticky {
    position: fixed;
    top: 0;
    left: 40px;
    transform: translateY(15%);
    z-index: 1;
    padding: 0 20px!important;
}
.faq-menu-top {
    position: relative;
    width: 25%;
}
.faq-menu {
    text-align: left;
    align-items: center;
    margin-top: 30px;
    padding: 40px 20px;
}
.faq-main {
    width: 75%;
}
.single-text p {
    font-size: 15px;
}
#faqs .rich-content {
    max-width: 100%;
    padding: 0;
}
.faq-inner {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    position: relative;
}
.faq-menu a {
    display: block;
    font: normal normal normal 24px/34px Austin;
    padding-left: 10px;
    position: relative;
    border-left: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.single-text {
    text-align: left;
    max-width: 80%;
}
html {
	scroll-behavior: smooth;
  }
  .single-text .shopify_explorer_faq__separator.h3 {
    padding-top: 20px;
    padding-bottom: 0;
}
.faq-menu a.faq-title.active:before {
    content: "";
    position: absolute;
    background: #000;
    border-left: 1px solid #000;
    left: -1px;
    height: 100%;
    width: 2px;
}
.faq-main {
    margin-top: -80px;
}

/* section-full-banner */
.banner-inner-content {
    position: relative;
}
.banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    max-width: 50%;
    transform: translateY(-50px);
    padding: 100px;
}
.banner-content h3 {
    font: italic normal normal 32px/70px Austin;
    text-transform: capitalize;
}
.banner-content h2 {
    font: normal normal normal 80px/80px 'Austin';
    text-transform: capitalize;
}
.description-banner div {
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 24px;
    font-family: 'AVENIR LT STD 45 BOOK';
    margin-bottom: 30px;
}
.banner-image img {
    height: 100%;
    width: 100%;
}
h3.shopify_explorer_faq__question.h5.link span {
    border: none!important;
    padding: 0;
    margin: 0;
}
.products-with-image .description-before {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}
#shopify-section-template--14208435028073__1638357391737d4189 .description-before {
    max-width: 51%;
}
div#shopify-section-template--14211130196073__1638522509f8d1321f {
    margin-top: 100px;
}
#shopify-section-template--14211130196073__1638522509f8d1321f .full-width .description-before {
    padding-left: 100px;
}
/* slick slider dots css */
.slick-dots {
    bottom: -43px!important;
}
.slick-dots li {
    margin: 0 0px!important;
}
.slick-dots li button {
    width: 8px!important;
    height: 8px!important;
    padding: 5px;
    border: 1px solid #000 !important;
    border-radius: 15px;
}
.slick-dots li.slick-active button:before {
    opacity: 1!important;
    color: #000;
    background: #000!important;
    height: 12px !important;;
    width: 12px !important;
    border-radius: 100%;
}
#shopify-section-template--14214856867945__1638853446a36bc1a2 .banner-content {
    max-width: 70%;
    margin: 0 auto;
    right: 0;
    text-align: center;
    transform: translateY(0%);
    bottom: unset;
    top: 20%;
}
.banner-content h5 {
    letter-spacing: .75px;
    font-size: 15px;
    line-height: 24px;
    font-family: 'AVENIR LT STD 45 BOOK';
    margin-bottom: 30px;
    text-transform: inherit;
}
.link-images {
    display: flex;
    justify-content: center;
    grid-gap: 15px;
    flex-wrap: wrap;
}
.link-images img {
    max-width: 225px;
}
#cohorted-apps #new-feed {
    display: none;
}
#shopify-section-template--14216801779817__16389655410a4e7ed5 .description-banner div {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
#shopify-section-template--14216801779817__16389655410a4e7ed5  .space {
    width: 50px;
    height: 1px;
    background: #202020;
    display: block;
}
#black-edition-new .save {
    display: none;
}
#shopify-section-template--14216801779817__1638968515399efa42 .feature-image img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}
#shopify-section-template--14216801779817__1638968515399efa42 .feature-image {
    height: auto;
}
#shopify-section-template--14216801779817__1638968515399efa42 .single_product .row {
    align-items: center;
}
#shopify-section-template--14216801779817__1638968515399efa42 {
    background: transparent linear-gradient(0deg,#f8f8f8 0,#f4f4f4 48%,#f0f0f0 93%,#efefef 100%) 0 0 no-repeat padding-box;
    margin-top: 70px;
}
.paypal-logo a img {
    width: 40px;
}
.paypal-logo {
    display: flex;
    grid-gap: 7px;
    align-items: center;
    justify-content: flex-end;
}
h3.product-name a {
    font: normal normal normal 21px/25px Austin;
    letter-spacing: 1.05px;
    color: #000000;
}
.breadcrumbs ul span {
    margin-left: 0;
}
@media (max-width:1460px) {
    h3.product-name a {
        font: normal normal normal 18px/23px Austin;    
    }
    .banner-content h2 {
        font: normal normal normal 60px/60px Austin!important;
    }
    .banner-content h3 {
        font: italic normal normal 27px/40px Austin!important;
    }
    .content-with-image-slider-section .slick-slide img {
        height: 800px;
    }
    h2.site_heading {
        font: normal normal normal 70px/70px Austin;
      }
	.banner-content {
		padding: 50px;
	}
	.banner-content {
		max-width: 50%;
        transform: translateY(-20px);
	}
	.text-container-wrapper.full-width h2 {
		font-size: 60px;
		letter-spacing: 1px;
	}
	.sticky-wrapper.is-sticky .novaworks-navigation #novaworks-nav>li.level0>a>span {
	  font-size: 12px;
	}
	p.help a {
	  font-size: 12px;
	}
	.header-links p.label {
	  font-size: 12px;
	}
	.pull-right.top-dropdown.currency .parent.aux-currency a {
	  font-size: 12px;
	}
	p.bag {
	  font-size: 12px;
	}
	body .cart-contents span {
	  top: 14px;
	}
	.product-info-new h2 {
	  font: normal normal normal 15px/24px Austin;
	}
	.product-info-new .price-box span {
	  font: normal normal normal 16px/24px Austin!important;
	}
}
@media(max-width:991px){
    .banner-content h2 {
        font: normal normal normal 45px/50px Austin!important;
    }
    .section-insta h2 {
        font: normal normal normal 70px/100px 'Austin'!important;
    }
    .banner-content h3 {
        font: italic normal normal 27px/30px Austin!important;
    }
    .banner-content {
        padding: 20px 20px;
    }
h3.shopify_explorer_faq__separator {
    font: normal normal normal 60px/72px Austin !important;
    letter-spacing: 2px;
    padding: 30px 0;
}
.banner-content {
	max-width: 80%;
}
.banner-content {
    padding: 20px 50px;
}
}
@media(max-width:767px){
    #customer_orders p:first-child, .order-havent p {
        font-size: 16px;
    }
    #shopify-section-template--14213444403305__1638769902d5013264 .section-column-gallery .description-before {
        padding-left: 0;
    }
    #shopify-section-template--14213444403305__1638769902d5013264 .secondary-button {
        padding-left: 74px;
    }
    #shopify-section-template--14213728829545__1638791834e33046a4 .overlap_heading {
        transform: translateX(0);
    }
    ul.mobile_social {
        grid-gap: 0;
    }
    #faqs .rich-content h5 {
        padding: 0 5px;
    }
    .faq-menu-top {
        display: none;
    }
    .cms-collection .category-products #products-viewmode {
        grid-template-columns: repeat(2,1fr)!important;
        grid-gap: 15px;
        padding: 0 15px;
    }
    .cms-collection .category-products #products-viewmode .col-lg-4 {
        margin-bottom: 0;
        padding: 0;
    }
    .cms-collection .price-box .special-price .price {
        font: normal normal normal 18px/20px Austin;
    }
    .cms-collection .col-lg-4.col-md-4.col-sm-4.col-xs-6.item a {
        font: normal normal normal 14px/19px Austin;
        letter-spacing: 1px;
        padding: 0;
    }
    .cms-collection .price {
        font: normal normal normal 14px/25px Austin;
        letter-spacing: 1px;
    }
    .paypal-logo {
        justify-content: center;
    }
    button#send2 {
        padding: 0 15px;
        font-family: Austin;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        width: 190px;
      }   
      #login-form .new-users .buttons-set .create-account-button, #view_address{
        padding: 0 15px;
        font-family: Austin;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        width: 190px;
      }
    .you-may-also .slick-prev {
        left: 0 !important;
    }
    .you-may-also .slick-next {
        right: 0 !important;
    }
    h2.site_heading {
        font: normal normal normal 31px/32px Austin !important;
        letter-spacing: 2px !important;
        margin-bottom: 10px!important;  
    }
    .product-feature-image{
        width: 100%;
    }
    #black-edition-new .text-with-image {
        margin-top: 0;
    }
    #black-edition-new .text-with-image .text-container-wrapper.full-width {    
        padding-bottom: 20px;
    }
    #black-edition-new .enable_gradiant {
        margin-top: 0;
    }
    .play-button {
        height: 90px;
        width: 90px;
        top: 5%;
    }
    .rich-content h5 {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #shopify-section-template--14216801779817__1638968515399efa42 .feature-image img {
        width: 70%;
        margin-top: 40px;
    }
    .content-item { 
        display: none;
    }
    #shopify-section-template--14216526561385__163894878105e30c94 .banner-inner-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #shopify-section-template--14216526561385__163894878105e30c94 .banner-content {
        padding-top: 20px !important;
        position: relative;
    }
    #shopify-section-template--14215128940649__1638879485405f909c .logo-image-slider-section {
        padding: 0;
    }
    .logo-slider-item img {
        height: 25px;
    }
    .title-align h4 {
        font: normal normal normal 21px/40px 'Austin';
    }
    .profile {
        height: 50px;
        width: 50px;
        line-height: 50px;  
        font-size: 22px;
    }
    .row.category-list .image img {
        height: 375px;
    }
    .redeem-gifts ul.grid-point-listd img {
        margin: 0 auto;
    }
    .row.category-list .item {
        width: 100%;
    }
    #shopify-section-template--14213728829545__1638791834e33046a4 .product-image-content {
        order: unset !important;
    }
    #shopify-section-template--14213545427049__16387777604af63ad2 .product-box-inner {
        flex-direction: column-reverse;
    }
    #shopify-section-template--14213545427049__163877344534ed97f4 .product-box-inner {
        flex-direction: column-reverse;
    }
    #shopify-section-template--14213545427049__1638782894dccefd5a .banner_left {
        right: 0;
        text-align: center;
    }

    .cart-contents {
        line-height: 49px;

    }
    .full-with-banner .secondary-btn {
        width: auto;
        padding: 0 20px;
    }
    body h2.heading {
        font: normal normal normal 32px/32px Austin;
        letter-spacing: 1px;
    }
    .rich-text-main {
        padding-top: 30px;
    }
    body h5.content {
        letter-spacing: .5px;
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0 20px 0;
    }
    .products-with-image .description-before {
        max-width: 100%;
    }
    .faq-menu {
        display: none;
    }
    .faq-main {
        margin-top: -50px;
        width: 100%;
    }
	.faq-inner {
		grid-template-columns: 1fr !important;
	}
    .shopify_explorer_faq__question span {
        right: 0;
    }
	h3.shopify_explorer_faq__separator {
		font: normal normal normal 24px/34px Austin !important;
		letter-spacing: 1.2px;
		padding: 20px 0;
	}
    .menu_scroll {
        margin-top: 15px;
    }
	h3.shopify_explorer_faq__question {
		font: normal normal normal 15px/24px Austin;
		padding-right: 40px;
	}
	h3.shopify_explorer_faq__question img {
		height: 19px;
	}
	.page-title {
		padding: 32px 20px;
	}
	.page-title h5 {
		font-size: 12px;
		line-height: 24px;
		padding: 10px 0;
	}
	.product-box.daynamic .secondary-btn {
		width: 100% !important;
	}
	.background-inner-content .text-container-wrapper.full-width {
		width: 100% !important;
	}
	.full-width .description-before {
		padding-left: 0;
	}
		.products-with-image .product-box-inner {
		margin-top: 30px;
	}
	.buy-now{display: block;}
	.product-info-new .product-align-center {
		grid-gap: 0px;
		flex-wrap: wrap;
	}
	.product-info-new h2 {
		font: normal normal normal 12px/16px Austin;
		height: 30px;
        width: 100%;
	}
	.product-info-new .price-box span {
		font: normal normal normal 12px/16px Austin!important;
	}
	.img-with-txt .description-before {
        padding-left: 0!important;
        margin-bottom: 10px !important;
    }
	.description-before span:before {
		height: 1px;
		width: 45px;
	}
	/* #shopify-section-template--14208435028073__16383556045ac15327 .product-box-inner {
		flex-direction: column-reverse;
	} */
	#shopify-section-template--14208435028073__163835983050e55d57 .product-box-inner {
		flex-direction: column-reverse;
	}
	
	.img-with-txt .description-before span {
		margin-right: 60px;
	}
	/* .orderOne {
		order:2;
	}
	.orderTwo {
		order:1;
	} */
.products-with-image {
padding: 40px 0;
}

.description-before {
margin-bottom: 32px;
}

ul.grid-point-listd {
padding: 40px 0;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 15px;
}
.text-container-wrapper.full-width {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.text-with-image .product-image-content {
    padding: 20px;
}
a.product-btn {
font-size: 12px;
line-height: 40px;
height: 40px;
}
.product-box-inner {
display: flex !important;
grid-template-columns: 1fr 1fr;
flex-wrap: wrap;
}
.product-box img {
width: 100%;
object-fit: cover;
}

.product-box-inner {
display: flex;
flex-wrap: wrap;
}
ul.grid-point-listd li {
width: 100%;
padding: 0;
}
  #shopify-section-template--14208435028073__16383494429cc4389e .product-box-inner {
	flex-direction: column-reverse;
  }
  .products-with-image {
	padding: 0px 0;
  }
  body .text-container-wrapper.full-width h2 {
	font-size: 30px;
	letter-spacing: 1.6px;
	line-height: 32px;
  } 
  /* .products-with-image .product-feature-image {
    padding-bottom: 40px;
} */
#flockler-embed-17be0c97de90dbfd60f1135add4bcc15 .flockler-grid-items[data-container-width=">=600"] .flockler-grid-item {
    width: calc(1 / 1 * 100%) !important;
}
  #shopify-section-template--14208435028073__1638357391737d4189 .product-box-inner {
    flex-direction: column-reverse;
}
  #shopify-section-template--14208435028073__16383415596fe6c6bb .secondary-btn {
	width: 200px;
  }
}
