<div class="main-container home-content-container">
    <div id="reward-page-styles">
<section id="banner-gift-nn"><img src="https://cdn.shopify.com/s/files/1/2635/3958/files/reward-banner.jpg?v=1617291041" alt="Cohorted Rewards" />
<div class="col-sm-12 col-lg-5 col-md-5 banner-caption-nn">
<h1>Cohorted Rewards</h1>
<h2>Earn points with your purchases</h2>
</div>
</section>
<div id="cohorted-how-to-1-nn">
<div class="col-sm-12 col-lg-5 col-md-5 intro-block-1-nn-left"><img src="https://cdn.shopify.com/s/files/1/2635/3958/files/welcome-back.jpg?v=1617291041" alt="Cohorted" /></div>
<div class="col-sm-12 col-lg-7 col-md-7 intro-block-1-nn-right">
<div class="text-box-nn-1">
<h2>Welcome back, {{ customer.first_name }}!</h2>
<div class="mb-padd-nnnn">
<p>You have <strong>{{ customer.metafields.loyaltylion.points_total }}</strong> points</p>
<div data-lion-history-table=""></div>
</div>
</div>
</div>
<div class="clear"></div>
</div>
<div id="cohorted-how-to-2-nn">
<div class="col-sm-12 col-lg-5 col-md-5 intro-block-1-nn-right">
<div class="text-box-nn-1">
<h2>How to earn points</h2>
<div class="mb-padd-nnnn">
<p>Earn points for every purchase you make. There are exclusive rewards for the following actions too so make sure you collect those points and grab yourself some great rewards!</p>
<div class="clear"></div>
</div>
</div>
</div>
<div class="col-sm-12 col-lg-7 col-md-7 intro-block-1-nn-left"><img src="https://cdn.shopify.com/s/files/1/2635/3958/files/earn-points.jpg?v=1617291041" alt="Cohorted" /></div>
<div class="clear"></div>
</div>
<div id="rw-box-section-1">
<div data-lion-rules-list=""></div>
</div>
<div id="cs-products-section-1">
<div class="text-box-nn-1">
<h2>Redeem Your Gifts</h2>
<div class="mb-padd-nnnn">
<p>We’re constantly adding new and exclusive rewards you can redeem your points for. Check out our most popular gifts below!</p>
</div>
</div>
<div data-lion-rewards-list=""></div>
<div class="clear"></div>
</div>
<div id="cohorted-highlighted-box-1">
<div class="col-sm-12 col-lg-4 col-md-4 intro-block-1-nn-right">
<div class="text-box-nn-1">
<h2>Share The Rewards</h2>
<div class="mb-padd-nnnn">
<p>Refer your friends with your own unique referral link. You can refer as many friends as you'd like, at anytime. Earn 100 points when they spend over £25 at Cohorted.</p>
<div class="btn-new-erc"><a href="#" class="button-nn" title="Shop The Collection">Refer Friends</a></div>
<div class="clear"></div>
</div>
</div>
</div>
<div class="col-sm-12 col-lg-8 col-md-8 cohorted-highlighted-image-container"><img class="highlighted-image-large" src="https://cdn.shopify.com/s/files/1/2635/3958/files/reward-large.jpg?v=1617291042" alt="Cohorted" /> <img class="highlighted-image-small" src="https://cdn.shopify.com/s/files/1/2635/3958/files/reward-small.jpg?v=1617291042" alt="Cohorted" /></div>
<div class="clear"></div>
</div>
</div>
</div>